---
import { getPageContent } from '~/lib/sanity';
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

// Get content from Sanity
const pageData = await getPageContent('services', 'es');
const { metadata, heroWidget, features2, contentSections, cta } = pageData || {};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  {heroWidget && (
    <Hero
      title={heroWidget.title}
      subtitle={heroWidget.subtitle}
      actions={heroWidget.actions}
      image={heroWidget.image}
    />
  )}

  <!-- Features2 Widget ************** -->

  {features2 && (
    <Features2
      columns={features2.columns}
      items={features2.items}
    />
  )}

  <!-- Content Widgets *************** -->

  {contentSections && contentSections.map((section) => (
    <Content
      isReversed={section.isReversed}
      isAfterContent={section.isAfterContent}
      items={section.items}
      image={section.image}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{section.title}</h3>
      </Fragment>
    </Content>
  ))}

  <!-- CallToAction Widget *********** -->

  {cta && (
    <CallToAction
      actions={cta.actions}
    >
      <Fragment slot="title">{cta.title}</Fragment>
      <Fragment slot="subtitle">{cta.subtitle}</Fragment>
    </CallToAction>
  )}
</Layout>
